<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mail Sent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
 .button{
   margin-top: 57px;


 }
</style>



<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Thank you for your Registration </h1>
  <p>We will intimate the Details through mail a day before the Power Cut</p>
</div>

<div class="container">
<p class="text-center"> <button  class="btn button  btn-outline-primary"  onclick="myFunction1()">Redirect To Home Page</button></p>
</div>





<script>
function myFunction1() {
 location.href = "homepage";
}
</script>


</body>
</html>
